html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.flexContainer {
    max-width: 100%;
    width: 100%;
    border-top: 1px solid #ccc;
    border-left:none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexColumn {
    display: flex;
    width: 14.2857142857%;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    flex: 0 1 auto;
    justify-content: center;
    color:rgba(18, 173, 43, 1);
}

.flexColumn.day {
    color: black !important;
    border-right: 1px solid #ccc;
}
.flexColumn.day:nth-child(7), .flexColumn.day:nth-child(14), .flexColumn.day:nth-child(21), .flexColumn.day:nth-child(28), .flexColumn.day:nth-child(35),  .flexColumn.day:nth-child(42) {
    border-right: none;
}

.day.inactive {
    color: #ccc !important;
}

.today .inner-grid .date {
    background-color:rgba(18, 173, 43, 1);
    border-radius: 25px;
    color: white;
    width: 25px;
    height: 25px;
}

.day .inner-grid {
    width: 100%;
    position:relative;
}

.day .event-slot {
    position: relative;
    margin: .5rem 0;
    min-height: 28px;
    font-size: 14px;
}

.day .event-slot.event {
    background:rgba(18, 173, 43, 1);
    color:white;
    white-space: nowrap;
    text-indent: -10000px;
    cursor: pointer;
    margin: 6px;
    border-radius: 2px;
} 

.day .event-slot .event-title {
    position: absolute;
    top:(14px/2)/2;
    left:.5rem;
    z-index: 100;
    color: #fff;
    z-index:1;
    overflow:visible;
    text-indent: 0;
    font-size: 12px;
    font-weight: bolder;
}

.day .event.event-first-day {
    margin-left: .5rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.day .event.event-last-day {
    margin-right: .5rem;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}  

.day .date {
    padding:.25rem .5rem;
    margin: 0.4rem;
    text-align: left;
}

.btn-default {
    border: none !important;
}

.h4 {
    color: gray !important;
    margin-top: 43px !important;
}

.h5 {
    font-size: 2rem !important;
    font-weight: bold !important;
}

.header-button {
    font-size: 3rem !important;
    font-weight: bold !important;
    text-transform: capitalize;
}

.header-button:hover, .header-button:active {
    background: white !important;
    cursor: default;
}
.header-button-grey {
    color: grey !important;
    position: relative;
    top: 9px;
    left: 38px;
}
.header-button-arrow {
    position: relative;
    top: 5px;
    color: grey !important;
    font-size: 20px !important;
}
.popover.top > .arrow {
    border: none !important;
    display: none;
}
.popover {
    border: none !important;
    border-top: 5px solid #12ad2b !important;
    width: 450px !important;
    height: 220px;
    max-width: 450px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.time {
    color: #ccc;
}
.organizator {
    color: #ccc;
    margin-top: 20px;
}

 .a {
     margin-top: 14px !important;
}

.organizator span {
background: rgba(226, 245, 229, 1);
border-radius: 5px;
padding: 8px;
color: rgba(18, 173, 43, 1);
margin-left: 15px;
}

.organizator img, .members img {
    width: 15px;
    height: 15px;
}

.members {
    color: #ccc;
    margin-top: 20px;
}

.members span {
    background: rgba(242, 242, 242, 1);
    border-radius: 5px;
    padding: 8px;
    color: rgba(177, 177, 177, 1);
    margin-left: 15px;
    }
.buttons {
    color: #ccc;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.update-button {
    float: left;
    border-right: 1px solid #ccc;
    margin-top: 10px;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.delete-button {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.delete-button:hover, .update-button:hover {
    color: black;
}

.add-button {
    text-align: center;
    margin: 15px;
  }
  
  .add-button-c {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border-color: rgba(18, 173, 43, 1);
    background-color :rgba(18, 173, 43, 1);
    color: white;
    cursor: pointer;
  }

  .add-button-c:hover {
      opacity: 0.7;
  }

  .modal-dialog {
    margin-top: 250px !important;
  }

  .modal-content {
    border: none !important;
    border-top: 5px solid #12ad2b !important;
  }
  .add-modal-button {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.add-modal-button span{
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color :rgba(18, 173, 43, 1);
    color: white;
    border-radius: 15px;
}

.modal-footer {
    text-align: left !important;
}

.css-1pcexqc-container {
    float: right;
    width: 420px;
    top: -9px;
    left: -15px;
}

.twotimes > div:nth-child(1), .twotimes > div:nth-child(2) {
    width: 270px !important;
    float: left;
    margin-bottom: 14px;
    margin-right: 14px;
}

.inputmodal {
    width: 100%;
    border: none;
    border-bottom: 2px solid green;
    font-size: 26px;
    margin-bottom: 14px;
}

.events-run {
    padding: 20px;
    background-color: rgba(226, 245, 229, 1);
    border-radius: 10px;
}

.events-run-name {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #12AD2B;
}
.events-run-title {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #12AD2B;
}

.events-run-minute {
    background-color: white;
    display: inline;
    position: absolute;
    top: 7px;
    right: 24px;
    padding: 7px;
    border-radius: 15px;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    color: #12AD2B;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #B1B1B1;
    float: right;
    position: relative;
    top: -4px;
  }

.button-viewer {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid rgba(228, 228, 228, 1);
    border-radius: 20px;
    margin-top: 33px;
    cursor: pointer;
}

.button-viewer:hover {
    opacity: 0.7;
}
.viewer-title {
    float: left;
    position: relative;
    top: -9px;
    left: 15px;
    color: #B1B1B1;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: rgba(18, 173, 43, 1);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 19px;
    left: -25px;
  }
  .timeline {
    z-index: 10;
  }

button.header-button .btn .btn-default{
    font-size: 2.5em !important;
    text-transform: capitalize !important;
}